
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    scroll-behavior:smooth;
}
.navbar{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3d251e;
}
.navs a{
    color: white;
    text-decoration: none;
    padding: 15px;
    font-size: 25px;
}
nav a:hover{
    color: #c2966b;
}
.hero-section{
    height: 90vh;
    width: 100%;
    background:url(./Images/hero.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#about{
    background-color: #c2966b;
}
.logo img{
    height: 70px;
    width: 70px;
    margin-top: 4px;
    margin-left: 5px;
    border-radius: 50%;
}
.about-img img{
    height: 150px;
    width:150px;
    border-radius: 50%;
    margin-top: 150px;
}
.about-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about-text{
    background-color: white;
    border-radius: 20px;
    width: 70vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 150px;
    padding: 20px;
}
.fade-in{
    opacity: 0;
    animation: fadeIn 2s ease-in forwards;
}
@keyframes fadeIn{
    from{opacity: 0;}
    to{opacity: 1;}
}
.about-text h1{
    margin-bottom: 20px;
    color: #3d251e;
}
.about-text p{
    font-family: "Montserrat", sans-serif;
    font-size: medium;
    line-height: 1.8;
    color: #3d251e;
}
#menu{
    background-color:#c2966b;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.dish-img img{
    height: 150px;
    width: 200px;
    border-radius: 50%;
    float: left;
    margin-right: 20px;
}
.sign{
    margin-bottom: 30px;
    font-family:"Satisfy", cursive;
    font-size: x-large;
    font-weight: bold;
    color: #3d251e;
}
.biryani-bar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    color: #3d251e;
}
.biryani{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 70vw;
}
.text{
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 20px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.text2 h2{
    margin-bottom: 10px;
}
.price{
    margin-left: 20px;
}
.footer{
    background-color: #3d251e;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
}
.contact{
    margin-top: 100px;
    margin-bottom: 50px;
}
.modes{
    width: 80vw;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.location,.call,.mail{
    display:flex;

}
.cimg img{
    float: left;
    height: 30px;
    width: 30px;
    margin-left: 10px;
}
.loc-txt,.call-txt,.mail-txt{
    margin-left: 10px;
}
h4{
    margin-bottom: 50px;
}
#menu2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #c2966b;
    color: #3d251e;
    
}
.menu2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vw;
    margin-bottom: 100px;
}
.menu2 h1{
    font-family:"Satisfy", cursive;
    font-size:  68px;;
    font-weight: bold;
    color: #3d251e;
    margin-top: 50px;
    margin-bottom: 50px;
}
.about-img2 img{
    height: 150px;
    width:150px;
    border-radius: 50%;
    margin-top: 50px;
}
.menu2 h2{
    font-family: "Roboto Mono", monospace;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 30px;
}
.long{
    background-color: white;
    width: 80vw;
    padding: 10px;
    margin-top: 25px;
    margin-bottom: 20px;
}
.long h3{
    font-size: 38px;
    font-weight: bold;
}
.item{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    font-size: 28px;
}
/* Tablet screens */
@media (max-width: 992px){
    body{
        width: 100%;
        overflow-x: hidden;
    }
    .navbar{
    justify-content: center;
}
    .about-text{
    width: 90vw;
    margin-top: 20px;
    margin-bottom: 50px;
}
.about-text h1{
    font-size: medium;
}
.about-text p{
    font-size: smaller;
    line-height: 1.5;
}
.about-img img{
    height: 100px;
    width:100px;
    margin-top: 50px;
}
.text{
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 0px;
    background-color: white;
    display: flex;
    flex-direction: column;
}
.dish-img img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    float: left;
    margin-right: 5px;
    margin-top: 8px;
}
.sign{
    margin-bottom: 0;
}
.price{
    margin-left: 0;
}
.biryani-bar{
    margin-bottom: 50px;
}
.contact{
    margin-top: 20px;
    margin-bottom: 20px;
}
.modes{
    width: 100vw;
    flex-direction: column;
    margin-bottom: 20px;
    align-items: center;
}
.call,.mail,.loc{
    margin-bottom: 10px
}
h4{
    margin-top: 50px;
}
}
